<% if logged_in?(:site_admin) %>
  <p class="blog-post-meta">
  <%= link_to favicon('file-text'), toggle_status_blog_path(blog), style: blog_status_color(blog) %> /
  <%= link_to favicon('pencil-square-o'), edit_blog_path(blog) %> /
  <%= link_to favicon('trash'), blog, method: :delete, data: { confirm: 'Are you sure?' } %>
  </p>
<% end %>