<main role="main" class="inner cover">
 <h1 class="cover-heading">Welcome</h1>
 <p class="lead">Hello, thanks for stopping by and checking out my website and portfolio. Feel free to take a look around.</p>
 
</main>